/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

@font-face {
  font-family: Martyr;
  src: url('/assets/fonts/Martyr.ttf') format('truetype');
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
